body{
    font-family: sans-serif;
}
#ui{
    
}
#textInput{
    
}
#nameInput{
    
}
#send_comment{
    
}
#sendBtn{
    
}
#comments{
    
}
.comment{
    background-color: lightblue;
    margin:3mm;
}
.text{
    
}
.name{
    font-size:0.5rem;
}