body{
    font-family: sans-serif;
}
#ui{
    border: 1px solid grey;
}
#textInput{
    margin: 3mm;
}
#nameInput{
    margin: 3mm;
}
#send_comment{
    text-align: center;
}
#sendBtn{
    
}
#comments{
    border: 1px solid grey;
}
#comments_text{
    text-align: center;
}
.comment{
    background-color: lightblue;
    margin:3mm;
}
.text{
    font-size: 16pt;
}
.name{
    font-size: 14pt;
    color:grey;
    text-align:right;
}