body{
    font-family: sans-serif;
}
#ui{
    
}
#textInput{
    
}
#nameInput{
    
}
#send_comment{
    
}
#sendBtn{
    
}
#comments{
    
}
.comment{
    background-color: lightblue;
    margin:3mm;
}
.text{
    font-size: 20pt;
}
.name{
    font-size: 16pt;
    color:grey;
    text-align:right;
}