<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <script>
            function changed(console){
                text = console.value
                if(text[text.length-1]=='\n'){
                    line = text.substring(text.trim().lastIndexOf('\n')+1)
                    if(line=='ls'){
                        text+='index.html\nscript.js\nstyle.css\npassword.txt\n'
                    }
                    text+='unknown command: '+line
                }
            }
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <textarea id="console" onkeyup="changed(this)" rows="30" cols="30"></textarea>
    </body>
</html>